@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;700&family=Nunito:wght@300;400&family=Poppins:wght@200;300;400&family=Roboto:wght@100;500;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
}

.dashboard_wrapper {
    width: 99vw;
    height: 95vh;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

.component_bar {
    width: 300px;
    height: 95vh;
    display: flex;
    flex-direction: row;
    padding: 15px;
    -webkit-box-shadow: 10px 2px 4px -10px rgba(235, 235, 235, 1);
    -moz-box-shadow: 10px 2px 4px -10px rgba(235, 235, 235, 1);
    box-shadow: 10px 2px 4px -10px rgba(235, 235, 235, 1);
}

.attribute_bar {
    width: 290px;
    height: 95vh;
    -webkit-box-shadow: -12px 2px 4px -10px rgba(235, 235, 235, 1);
    -moz-box-shadow: -12px 2px 4px -10px rgba(235, 235, 235, 1);
    box-shadow: -12px 2px 4px -10px rgba(235, 235, 235, 1);
}

.viewport {
    width: 1100px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas {
    width: 330px;
    height: 700px;
    border: 0.01em solid black;
    border-radius: 2px;
}

._generated_component {
    width: 110px;
    height: 80px;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: white;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(209, 209, 209, 1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(209, 209, 209, 1);
    box-shadow: 0px 0px 2px 0px rgba(209, 209, 209, 1);
}

._generated_component img {
    width: 25px;
    height: 25px;
}

._generated_component p {
    margin-top: 15px;
    font-size: 12px;
}